In [14]:
import pandas as pd
from numpy import int64
import collections
import numpy as np

In [2]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/'\
'2020-jetbrains-python-survey.csv'

In [3]:
##def data_prep()

SyntaxError: expected ':' (4279406227.py, line 1)

In [4]:
jb = pd.read_csv(url, low_memory=False)
jb.head()

,is.python.main,other.lang.None,other.lang.Java,other.lang.JavaScript,other.lang.C/C++,other.lang.PHP,other.lang.C#,other.lang.Ruby,other.lang.Bash / Shell,other.lang.Objective-C,...,job.role.Technical support,job.role.Data analyst,job.role.Business analyst,job.role.Team lead,job.role.Product manager,job.role.CIO / CEO / CTO,job.role.Systems analyst,job.role.Other,age,country.live
0,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,Business analyst,NaN,NaN,NaN,NaN,NaN,30–39,NaN
1,Yes,NaN,Java,JavaScript,NaN,NaN,C#,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21–29,India
2,Yes,NaN,NaN,NaN,C/C++,NaN,NaN,NaN,Bash / Shell,NaN,...,Technical support,Data analyst,NaN,Team lead,NaN,NaN,NaN,NaN,30–39,United States
3,Yes,NaN,NaN,JavaScript,NaN,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Yes,NaN,Java,JavaScript,C/C++,NaN,NaN,NaN,Bash / Shell,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21–29,Italy

**Here we are only trying to get unique columns**

In [5]:
counter  = collections.defaultdict(list)
for col in sorted(jb.columns):
    period_count = col.count('.')
    if period_count >=2:
        part_end = 2
    else:
        part_end = 1
    
    parts = col.split('.')[:part_end]  
    counter['.'.join(parts)].append(col)
    
uniq_cols = []
for cols in counter.values():
    if len (cols) == 1:
        uniq_cols.extend(cols)

In [6]:
uniq_cols

['age',
 'are.you.datascientist',
 'company.size',
 'country.live',
 'employment.status',
 'first.learn.about.main.ide',
 'how.often.use.main.ide',
 'ide.main',
 'is.python.main',
 'job.team',
 'main.purposes',
 'missing.features.main.ide',
 'nps.main.ide',
 'python.years',
 'python2.version.most',
 'python3.version.most',
 'several.projects',
 'team.size',
 'use.python.most',
 'years.of.coding']

In [12]:
print("length of unique columns:", len(uniq_cols))

length of unique columns: 20

In [69]:
(jb[uniq_cols]
.rename(columns = lambda c: c.replace('.', '_'))
.assign(age = lambda df_:df_.age.str.slice(0,2)
                 .astype(float).astype('Int64'),
    are_you_datascientist = lambda df_: df_.are_you_datascientist.replace({'Yes': True, 'No': False, np.nan: False}),
    country_live = lambda df_:df_.country_live.astype('category'),
    employment_status = lambda df_: df_.employment_status.fillna('Other').astype('category'),
    is_python_main = lambda df_: df_.is_python_main.astype('category'),
    team_size = lambda df_:df_.team_size.str.split(r'-', n=1, expand=True).iloc[:,0].replace('More than 40 people', 41)
         .where(df_.company_size!=1, 1).astype(float),
    years_of_coding = lambda df_:df_.years_of_coding.replace('Less than 1 year', .5).str.extract(r'(\d+)').astype(float), 
    python_years = lambda df_:df_.python_years.replace('Less than 1 year', .5).str.extract(r'(\d+)').astype(float),
    python3_ver = lambda df_:df_.python3_version_most.str.replace('_', '.').str.extract(r'(\d\.\d)').astype(float),
    use_python_most = lambda df_:df_.use_python_most.fillna('Unknown')    
        
        
    
    
   )
   .drop(columns = ['python2_version_most'])
   
   
)

,age,are_you_datascientist,company_size,country_live,employment_status,first_learn_about_main_ide,how_often_use_main_ide,ide_main,is_python_main,job_team,main_purposes,missing_features_main_ide,nps_main_ide,python_years,python3_version_most,several_projects,team_size,use_python_most,years_of_coding,python3_ver
0,30,False,Just me,NaN,Partially employed by a company / organization,Conference / User Group,Weekly,PyCharm Community Edition,Yes,Work as an external consultant or trainer,For work,"No, it has all the features I need",3.0,3.0,Python 3_7,"Yes, I work on many different projects",NaN,Unknown,1.0,3.7
1,21,True,"More than 5,000",India,Fully employed by a company / organization,School / University,Daily,VS Code,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",8.0,3.0,Python 3_6,"Yes, I work on one main and several side projects",2.0,Software prototyping,3.0,3.6
2,30,False,"More than 5,000",United States,Fully employed by a company / organization,Friend / Colleague,Daily,Vim,Yes,Work on your own project(s) independently,Both for work and personal,"No, it has all the features I need",10.0,3.0,Python 3_6,"Yes, I work on one main and several side projects",NaN,DevOps / System administration / Writing autom...,3.0,3.6
3,<NA>,False,NaN,NaN,Other,Friend / Colleague,Daily,PyCharm Professional Edition,Yes,NaN,Both for work and personal,Yes – Please list:,10.0,11.0,Python 3_8,"Yes, I work on many different projects",NaN,Web development,11.0,3.8
4,21,False,NaN,Italy,Student,Search engines,Daily,VS Code,Yes,Work on your own project(s) independently,"For personal, educational or side projects","No, it has all the features I need",10.0,1.0,Python 3_8,"Yes, I work on one main and several side projects",NaN,Web development,NaN,3.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54457,21,False,2–10,Russian Federation,Fully employed by a company / organization,School / University,Daily,Vim,Yes,Work on your own project(s) independently,Both for work and personal,"No, it has all the features I need",10.0,6.0,Python 3_6,"Yes, I work on many different projects",NaN,Data analysis,1.0,3.6
54458,<NA>,False,NaN,NaN,Other,NaN,NaN,NaN,Yes,NaN,Both for work and personal,NaN,NaN,3.0,Python 3_7,NaN,NaN,Web development,1.0,3.7
54459,21,False,Just me,Russian Federation,Self-employed (a person earning income directl...,Friend / Colleague,Daily,PyCharm Professional Edition,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",10.0,3.0,Python 3_7,"Yes, I work on many different projects",2.0,Web development,6.0,3.7
54460,30,True,51–500,Spain,Fully employed by a company / organization,Search engines,Daily,Other,Yes,Work on your own project(s) independently,Both for work and personal,Yes – Please list:,3.0,6.0,Python 3_7,"Yes, I work on many different projects",NaN,Data analysis,3.0,3.7
54461,21,False,11–50,Algeria,Fully employed by a company / organization,Online learning platform / Online course,Daily,VS Code,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",10.0,1.0,Python 3_8,"Yes, I work on many different projects",2.0,Unknown,1.0,3.8

In [41]:
jb['python2.version.most'].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: python2.version.most, dtype: object

In [8]:
jb.info(max_cols = 300)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54462 entries, 0 to 54461
Data columns (total 264 columns):
 #    Column                                                                         Non-Null Count  Dtype
---   ------                                                                         --------------  -----
 0    is.python.main                                                                 41732 non-null  object
 1    other.lang.None                                                                6402 non-null   object
 2    other.lang.Java                                                                8109 non-null   object
 3    other.lang.JavaScript                                                          16662 non-null  object
 4    other.lang.C/C++                                                               11623 non-null  object
 5    other.lang.PHP                                                                 4060 non-null   object
 6    other.lang.C#                                                                  4460 non-null   object
 7    other.lang.Ruby                                                                1165 non-null   object
 8    other.lang.Bash / Shell                                                        13793 non-null  object
 9    other.lang.Objective-C                                                         583 non-null    object
 10   other.lang.Go                                                                  3398 non-null   object
 11   other.lang.Visual Basic                                                        1604 non-null   object
 12   other.lang.Scala                                                               927 non-null    object
 13   other.lang.SQL                                                                 13391 non-null  object
 14   other.lang.Kotlin                                                              1384 non-null   object
 15   other.lang.R                                                                   2465 non-null   object
 16   other.lang.Swift                                                               854 non-null    object
 17   other.lang.Clojure                                                             361 non-null    object
 18   other.lang.Perl                                                                886 non-null    object
 19   other.lang.Rust                                                                1853 non-null   object
 20   other.lang.Groovy                                                              719 non-null    object
 21   other.lang.TypeScript                                                          3717 non-null   object
 22   other.lang.CoffeeScript                                                        319 non-null    object
 23   other.lang.HTML/CSS                                                            15469 non-null  object
 24   other.lang.Other                                                               3592 non-null   object
 25   python.years                                                                   36240 non-null  object
 26   years.of.coding                                                                36147 non-null  object
 27   main.purposes                                                                  36132 non-null  object
 28   other.purposes.Educational purposes                                            9633 non-null   object
 29   other.purposes.Data analysis                                                   19506 non-null  object
 30   other.purposes.DevOps / System administration / Writing automation scripts     13667 non-null  object
 31   other.purposes.Software testing / Writing automated tests                      10178 non-null  object
 32   other.purposes.Software prototyping                                            8435 non-null   object
 33   other.purposes.Web development                                                 17420 non-null  object
 34   other.purposes.Machine learning                                                13781 non-null  object
 35   other.purposes.Mobile development                                              2290 non-null   object
 36   other.purposes.Desktop development                                             6799 non-null   object
 37   other.purposes.Computer graphics                                               4528 non-null   object
 38   other.purposes.Network programming                                             6885 non-null   object
 39   other.purposes.Game development                                                3343 non-null   object
 40   other.purposes.Multimedia applications development                             1861 non-null   object
 41   other.purposes.Embedded development                                            3112 non-null   object
 42   other.purposes.Programming of web parsers / scrapers / crawlers                12489 non-null  object
 43   other.purposes.Other                                                           2392 non-null   object
 44   how.involved.Computer graphics                                                 4030 non-null   object
 45   how.involved.Data analysis                                                     18550 non-null  object
 46   how.involved.DevOps / System administration / Writing automation scripts       13062 non-null  object
 47   how.involved.Educational purposes                                              9095 non-null   object
 48   how.involved.Software testing / Writing automated tests                        9682 non-null   object
 49   how.involved.Web development                                                   16664 non-null  object
 50   how.involved.Network programming                                               6386 non-null   object
 51   how.involved.Desktop development                                               6321 non-null   object
 52   how.involved.Machine learning                                                  13059 non-null  object
 53   how.involved.Software prototyping                                              7990 non-null   object
 54   how.involved.Programming of web parsers / scrapers / crawlers                  11875 non-null  object
 55   how.involved.Embedded development                                              2838 non-null   object
 56   how.involved.Mobile development                                                2006 non-null   object
 57   how.involved.Game development                                                  2946 non-null   object
 58   how.involved.Multimedia applications development                               1605 non-null   object
 59   use.python.most                                                                28421 non-null  object
 60   are.you.datascientist                                                          21264 non-null  object
 61   python.version.most                                                            32237 non-null  object
 62   python2.version.most                                                           2072 non-null   object
 63   python3.version.most                                                           30119 non-null  object
 64   python.version.upgrade.I don’t update                                          3889 non-null   object
 65   python.version.upgrade.Somebody else manages Python updates for me             1572 non-null   object
 66   python.version.upgrade.Python_org                                              10802 non-null  object
 67   python.version.upgrade.Build from source                                       1911 non-null   object
 68   python.version.upgrade.Automatic upgrade via cloud provider                    930 non-null    object
 69   python.version.upgrade.Anaconda                                                6025 non-null   object
 70   python.version.upgrade.ActivePython                                            396 non-null    object
 71   python.version.upgrade.Intel Distribution for Python                           342 non-null    object
 72   python.version.upgrade.OS-provided Python (via apt-get, yum, homebrew, etc_)   10546 non-null  object
 73   python.version.upgrade.pyenv                                                   4934 non-null   object
 74   python.version.upgrade.pythonz                                                 211 non-null    object
 75   python.version.upgrade.I use Docker containers                                 5383 non-null   object
 76   python.version.upgrade.Other                                                   885 non-null    object
 77   isolate.environments.None                                                      7193 non-null   object
 78   isolate.environments.Virtualenv                                                17411 non-null  object
 79   isolate.environments.Pipenv                                                    5948 non-null   object
 80   isolate.environments.Poetry                                                    2516 non-null   object
 81   isolate.environments.Conda                                                     7189 non-null   object
 82   isolate.environments.Docker                                                    10167 non-null  object
 83   isolate.environments.Vagrant  / virtual machines                               1624 non-null   object
 84   isolate.environments.Other                                                     1066 non-null   object
 85   web.frameworks.None                                                            8197 non-null   object
 86   web.frameworks.Django                                                          13044 non-null  object
 87   web.frameworks.web2py                                                          982 non-null    object
 88   web.frameworks.Bottle                                                          878 non-null    object
 89   web.frameworks.CherryPy                                                        676 non-null    object
 90   web.frameworks.Flask                                                           13960 non-null  object
 91   web.frameworks.Hug                                                             227 non-null    object
 92   web.frameworks.Pyramid                                                         701 non-null    object
 93   web.frameworks.Tornado                                                         1299 non-null   object
 94   web.frameworks.Falcon                                                          618 non-null    object
 95   web.frameworks.FastAPI                                                         3667 non-null   object
 96   web.frameworks.Other                                                           1677 non-null   object
 97   data.frameworks.None                                                           8121 non-null   object
 98   data.frameworks.PyTorch                                                        5119 non-null   object
 99   data.frameworks.NumPy                                                          18915 non-null  object
 100  data.frameworks.SciPy                                                          10048 non-null  object
 101  data.frameworks.Pandas                                                         17141 non-null  object
 102  data.frameworks.Matplotlib                                                     13864 non-null  object
 103  data.frameworks.Seaborn                                                        5432 non-null   object
 104  data.frameworks.SciKit-Learn                                                   9554 non-null   object
 105  data.frameworks.Keras                                                          5738 non-null   object
 106  data.frameworks.TensorFlow                                                     7677 non-null   object
 107  data.frameworks.Theano                                                         520 non-null    object
 108  data.frameworks.NLTK                                                           3774 non-null   object
 109  data.frameworks.MXNet                                                          425 non-null    object
 110  data.frameworks.Gensim                                                         1294 non-null   object
 111  data.frameworks.Other                                                          1105 non-null   object
 112  other.frameworks.None                                                          5491 non-null   object
 113  other.frameworks.Requests                                                      16436 non-null  object
 114  other.frameworks.aiohttp                                                       3817 non-null   object
 115  other.frameworks.PyQT                                                          4753 non-null   object
 116  other.frameworks.PyGTK                                                         1069 non-null   object
 117  other.frameworks.wxPython                                                      1390 non-null   object
 118  other.frameworks.Pillow                                                        9881 non-null   object
 119  other.frameworks.Tkinter                                                       5784 non-null   object
 120  other.frameworks.Pygame                                                        3459 non-null   object
 121  other.frameworks.Twisted                                                       1116 non-null   object
 122  other.frameworks.Asyncio                                                       6634 non-null   object
 123  other.frameworks.Kivy                                                          1662 non-null   object
 124  other.frameworks.Six                                                           2924 non-null   object
 125  other.frameworks.Scrapy                                                        4999 non-null   object
 126  other.frameworks.Other                                                         2303 non-null   object
 127  cloud.platform.None                                                            10534 non-null  object
 128  cloud.platform.Google Cloud Platform                                           6101 non-null   object
 129  cloud.platform.AWS                                                             9958 non-null   object
 130  cloud.platform.Microsoft Azure                                                 3863 non-null   object
 131  cloud.platform.Rackspace                                                       192 non-null    object
 132  cloud.platform.Heroku                                                          4341 non-null   object
 133  cloud.platform.DigitalOcean                                                    3690 non-null   object
 134  cloud.platform.Linode                                                          986 non-null    object
 135  cloud.platform.PythonAnywhere                                                  2455 non-null   object
 136  cloud.platform.OpenShift                                                       679 non-null    object
 137  cloud.platform.OpenStack                                                       903 non-null    object
 138  cloud.platform.Other                                                           1527 non-null   object
 139  run.in.cloud.None of the following                                             2083 non-null   object
 140  run.in.cloud.In virtual machines                                               8118 non-null   object
 141  run.in.cloud.Within containers                                                 8751 non-null   object
 142  run.in.cloud.On a Platform-as-a-Service (such as Heroku or Google App Engine)  5074 non-null   object
 143  run.in.cloud.Serverless (such as AWS Lambda or Cloud Functions)                4644 non-null   object
 144  run.in.cloud.Other                                                             452 non-null    object
 145  develop.for.cloud.None of the following                                        1756 non-null   object
 146  develop.for.cloud.With local system interpreter                                3333 non-null   object
 147  develop.for.cloud.Locally with virtualenv (or similar)                         10430 non-null  object
 148  develop.for.cloud.In Docker containers                                         7548 non-null   object
 149  develop.for.cloud.In virtual machines                                          3884 non-null   object
 150  develop.for.cloud.In remote development environments                           3245 non-null   object
 151  develop.for.cloud.Directly in the production environment                       1584 non-null   object
 152  develop.for.cloud.Other                                                        168 non-null    object
 153  devenv.os.Windows                                                              15342 non-null  object
 154  devenv.os.Linux                                                                19412 non-null  object
 155  devenv.os.macOS                                                                7648 non-null   object
 156  devenv.os.BSD                                                                  517 non-null    object
 157  devenv.os.Other                                                                407 non-null    object
 158  unittesting.None                                                               10895 non-null  object
 159  unittesting.pytest                                                             14280 non-null  object
 160  unittesting.nose                                                               1219 non-null   object
 161  unittesting.unittest                                                           8193 non-null   object
 162  unittesting.doctest                                                            1298 non-null   object
 163  unittesting.Tox                                                                1953 non-null   object
 164  unittesting.Hypothesis                                                         1049 non-null   object
 165  unittesting.mock                                                               3733 non-null   object
 166  unittesting.Other                                                              431 non-null    object
 167  orm.No database development                                                    9700 non-null   object
 168  orm.Raw SQL                                                                    3963 non-null   object
 169  orm.Django ORM                                                                 8868 non-null   object
 170  orm.SQLAlchemy                                                                 9685 non-null   object
 171  orm.Peewee                                                                     759 non-null    object
 172  orm.Dejavu                                                                     188 non-null    object
 173  orm.PonyORM                                                                    321 non-null    object
 174  orm.SQLObject                                                                  1326 non-null   object
 175  orm.Tortoise ORM                                                               323 non-null    object
 176  orm.Other                                                                      1000 non-null   object
 177  database.None                                                                  4941 non-null   object
 178  database.DB2                                                                   396 non-null    object
 179  database.MS SQL Server                                                         2923 non-null   object
 180  database.MySQL                                                                 10423 non-null  object
 181  database.Oracle Database                                                       1700 non-null   object

In [65]:
jb['python.years'].head()

0    3–5 years
1    3–5 years
2    3–5 years
3    11+ years
4    1–2 years
Name: python.years, dtype: object

In [6]:
jb['ci.Travis CI'].value_counts(dropna=False)

NaN          51223
Travis CI     3239
Name: ci.Travis CI, dtype: int64

In [58]:
jb['team.size'].value_counts()

2-7 people             8899
8-12 people            1947
13-20 people            640
21-40 people            258
More than 40 people     225
Name: team.size, dtype: int64

In [60]:
 jb['team.size'].str.split(r'-', n=1, expand=True)

IndentationError: unexpected indent (2665276635.py, line 2)

In [8]:
jb['ide.editor.PyCharm Community Edition'].value_counts(dropna=False)

NaN                          50555
PyCharm Community Edition     3907
Name: ide.editor.PyCharm Community Edition, dtype: int64

In [10]:
jb['country.live']== "Bangaldesh"

0        False
1        False
2        False
3        False
4        False
         ...
54457    False
54458    False
54459    False
54460    False
54461    False
Name: country.live, Length: 54462, dtype: bool

In [27]:
jb['age']

0        30–39
1        21–29
2        30–39
3          NaN
4        21–29
         ...
54457    21–29
54458      NaN
54459    21–29
54460    30–39
54461    21–29
Name: age, Length: 54462, dtype: object